html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#unauthorized {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url('../img/gplay.svg') repeat center center fixed rgba(0, 0, 0, 0.1);
}

#encryptionKey {
    width: 300px;
    margin-right: 7px;
}

nav[role=navigation] {
    padding-right: 20px;
    padding-left: 20px;
}

#welcome {
    text-align: center;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    position: absolute;
    top: 30%;
}

#authorized {
    position: relative;
    padding: 0 0 0 0;
}

#lastModified {
    display: block;
    position: absolute;
    top: 2.4em;
    right: 2em;
}

h1 {
    padding-bottom: .7em;
}

#decrypt {
    display: inline;
}

.hidden {
    display: none;
}

.navbar {
    padding-right: 15px !important;
    margin-bottom: 0 !important;
}

.navbar-fixed-top {
    z-index: 9 !important;
}

#tableHeader th:last-child {
    text-align: right;
    padding-right: 50px;
}

#editModal, #masterkeyModal {
    z-index: 11;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}

.wide-container {
    padding: 52px 27px 0 27px;
}

table#overview td:last-child {
    white-space: nowrap;
    padding-right: 15px;
}

table.comment {
    width: 100%;
    table-layout: fixed;

    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}

table.comment td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

tr:not(.exposed) td .obscured {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 8em;
    color: rgba(255, 0, 0, 0);
    background-color: #BBB;
}

form.form-search {
    display: inline-block;
}

table#tableHeader {
    margin: 0; 
}

table#tableHeader th {
    padding-left: 15px;
}

table#tableHeader th:nth-child(-n+3), table#overview td:nth-child(-n+3) {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    overflow: hidden;
}

alert {
    width: 100%;
    padding: 1.5em;
    bottom: 0;
    background: #4CAF50;
    position: fixed;
    left: 0;
    animation: fadeOut 2s forwards;
    animation-delay: 1s;
    color: #FFF;
    opacity: 0.83;
    z-index: 5;
}

@keyframes fadeOut {
    0% { }
    100% { transform: translateY(5em); opacity: 0.5; }
}
