body {
    font-size: 150%;
    font-family: helvetica;
}

label {
    display: block;
}

div.modal input {
    width: 100%;
}

button.close {
    float: right;
    border: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0);
    padding-right: 0;
}

#welcome {
    margin: 30vh auto 0 auto;
    text-align: center;
    max-width: 20em;
    width: 100%;
}

#welcome > form > * {
    width: 100%;
    margin-bottom: 0.5em;
}

ol {
    padding: 0;
    margin: 0;
}

#authorized {
    position: relative;
    padding: 0 0.5em 0 0.5em;
    max-width: 40em;
    margin: 0 auto;
}

h2 {
    margin: 0.5em 0;
}

li {
    list-style-type: none;
    border-top: 1px #888 solid;
    padding: 0.3em 0 0.3em 0;
    position: relative;
    margin-bottom: 0.3em;
    display: grid;
    grid-template-columns: 1fr 7em;
    grid-template-areas: "details actions"
}

li div.password-details {
    overflow-x: hidden;
}

li div.actions {
    align-self: center;
    font-size: 125%;
}

li span {
    margin-right: 0.3em;
}

ul {
    padding: 0;
}

.password-details a {
    font-size: 0.83em;
    display: block;
    font-weight: bold;
    text-decoration: none;
}

button {
    font-size: inherit;
    margin-right: 0.3em;
    background: #EEE;
    border: #000 2px solid;
    padding-top: 1px;
    padding-bottom: 1px;
    vertical-align: top;
    cursor: pointer;
}

input {
    font-size: inherit;
    padding-top: 1px;
    padding-bottom: 1px;
    border: #000 2px solid;
    box-sizing: border-box;
}

h4 {
    margin: 0;
}

.modal form {
    margin: 1em 0;
}

#notificationContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 40em;
    margin: 0 auto;
    width: 100%;
}

.notification {
    padding: 0;
    animation-name: notification;
    animation-duration: 5s;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    width: 100%;
}

.notice {
    background: #8F8;
}

.error {
    background: #F88;
}

@keyframes notification {
    10%  {
        max-height: 2em;
        padding: .3em;
    }
    25%  {
        opacity: 1;
        max-height: 2em;
        padding: .3em;
    }
    75%  {
        opacity: 1;
        max-height: 2em;
        padding: .3em;
    }
    90%  {
        opacity: 0;
        max-height: 2em;
        padding: .3em;
    }
    100% {
        opacity: 0;
        max-height: 0;
        padding: 0em;
    }
}

.modal {
    margin: 0 auto;
    background-color: #FFF;
    max-width: 25em;
    padding: 1em;
}

.modal-container {
    z-index: 12;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: auto;
}

.comment {
    display: block;
    font-size: 80%;
}

:not(.exposed) .obscured {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 8em;
    color: rgba(255, 0, 0, 0);
    background-color: #BBB;
    vertical-align: top;
}

a.copyPassword, a.toggleVisibility, a.editPassword, a.deletePassword {
    cursor: pointer;
}

alert {
    width: 100%;
    padding: 1.5em;
    bottom: 0;
    background: #4CAF50;
    position: fixed;
    left: 0;
    animation: fadeOut 2s forwards;
    animation-delay: 1s;
    color: #FFF;
    opacity: 0.83;
    z-index: 5;
}

@keyframes fadeOut {
    0% { }
    100% { transform: translateY(5em); opacity: 0.5; }
}
