body {
    font-size: 1.2em;
    font-family: helvetica;
    margin: 0;
    background: #f8f8f8;
    color: #212121;
}

label {
    display: block;
}

div.modal input {
    width: 100%;
}

nav > div {
    display: flex;
}

#filter {
    width: 100%;
}

div#filterContainer {
    flex-grow: 1;
    flex-shrink: 1;
}

div#actionContainer {
    flex-grow: 0;
    flex-shrink: 0;
}

#actionContainer > button {
    margin: 0 0 0 0.30em;
}

@media (max-width: 50em) {
    #actionContainer > button > span {
        display: none;
    }
}

@media (max-width: 32em) {
    .modal {
        padding: 1em .3em;
    }
}

@media (min-width: 32em) {
    .modal-container {
        display: flex;
        flex: 1 1 auto;
        justify-content: center;
        align-items: center;
        overflow-y: auto;
        height: 0;
    }

    .modal {
        flex: none;
        width: 25em;
        padding: 1em;
    }
}

button.close {
    float: right;
    border: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0);
    padding: 0;
    font-size: 1.75rem;
    line-height: .9;
}

button.close:before {
    content: "\00D7";
}

#welcome {
    margin: 30vh auto 0 auto;
    text-align: center;
    max-width: 20em;
    width: 100%;
}

#welcome > form > * {
    width: 100%;
    margin-bottom: 0.5em;
}

ol {
    padding: 0;
    margin: 0;
}

#authorized {
    position: relative;
    padding: 0 0.3em 0 0.3em;
    max-width: 50em;
    margin: 0 auto;
}

#unauthorized {
    padding: 0 0.3em 0 0.3em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

h2 {
    font-size: 2rem;
    margin: 0.5em 0;
}

li {
    list-style-type: none;
    border-top: 1px #c9c9c9 solid;
    padding: 0.3em 0 0.3em 0;
    position: relative;
    margin-bottom: 0.3em;
    display: grid;
    grid-template-columns: 1fr 10rem;
    grid-template-areas: "details actions"
}

li div.password-details {
    overflow-x: hidden;
}

li div.actions {
    align-self: center;
    font-size: 1.75rem;
    text-align: right;
}

li span {
    margin-right: 0.3em;
}

ul {
    padding: 0;
}

.password-details a {
    color: #0277bd;
    display: block;
    font-weight: bold;
    text-decoration: none;
}

button {
    display: inline-block;
    background: rgba(220,220,220,0.75);
    color: #212121;
    border: .0625rem solid rgba(220,220,220,0.75);
    border-radius: .125rem;
    padding: 0.5rem 0.75rem;
    margin-right: .3rem;
    text-decoration: none;
    transition: background 0.3s;
    cursor: pointer;
    font-size: inherit;
}

input {
    font-size: inherit;
    box-sizing: border-box;
    background: #fafafa;
    color: #212121;
    border: .0625rem solid #c9c9c9;
    border-radius: .125rem;
    padding: 0.5rem 0.75rem;
}

h3 {
    margin: 0;
}

.modal form {
    margin: 1em 0;
}

#notificationContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 40em;
    margin: 0 auto;
    width: 100%;
}

.notification {
    padding: 0;
    animation-name: notification;
    animation-duration: 5s;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    width: 100%;
}

.notice {
    background: #8F8;
}

.error {
    background: #F88;
}

@keyframes notification {
    10%  {
        max-height: 2em;
        padding: .3em;
    }
    25%  {
        opacity: 1;
        max-height: 2em;
        padding: .3em;
    }
    75%  {
        opacity: 1;
        max-height: 2em;
        padding: .3em;
    }
    90%  {
        opacity: 0;
        max-height: 2em;
        padding: .3em;
    }
    100% {
        opacity: 0;
        max-height: 0;
        padding: 0em;
    }
}

.modal {
    background-color: #EEE;
    border-radius: .125em;
}

.modal-container {
    z-index: 12;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    overflow: auto;
}

.comment {
    display: block;
    font-size: 80%;
}

:not(.exposed) .obscured {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 8em;
    color: rgba(255, 0, 0, 0);
    background-color: #BBB;
    vertical-align: top;
}

a.copyPassword, a.toggleVisibility, a.editPassword, a.deletePassword {
    cursor: pointer;
}

alert {
    width: 100%;
    padding: 1.5em;
    bottom: 0;
    background: #4CAF50;
    position: fixed;
    left: 0;
    animation: fadeOut 2s forwards;
    animation-delay: 1s;
    color: #FFF;
    opacity: 0.83;
    z-index: 5;
}

@keyframes fadeOut {
    0% { }
    100% { transform: translateY(5em); opacity: 0.5; }
}
